.donate-info {
  flex: 1.2;
}

.donate-info h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--secondary-color);
}

.donate-info p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #444;
}

.donate-info .highlight {
  font-weight: 600;
  color: #000;
  margin-top: 1.5rem;
}

.donate-program {
  display: flex;
  gap: 3rem;
  padding: 0rem 1rem;
  align-items: center;
  background: #f9f9f9;
}

.donate-image {
  flex: 1;
}

.donate-image img {
  width: 100%;
  height: auto;              /* 👈 IMAGE CUT FIX */
  border-radius: 12px;
  object-fit: contain;       /* 👈 NO CROP */
}

