.donor-form {
  flex: 0.8;
  padding: 2.5rem;
  background: #f9f9f9;
  border-radius: 8px;
}


.donor-form h2 {
  margin-bottom: 1.5rem;
}

.donor-form form {
  max-width: 500px;
  margin: auto;
}

.donor-form input,
.donor-form textarea {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.donor-form button {
  width: 100%;
  padding: 0.9rem;
  background: #000;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
