.home-page {
  display:flex;
  flex-direction:column;
  gap:0rem;
}

.impact-content{
  display: flex;
  gap: 3rem;
  padding: 4rem 5rem;
  align-items: center;
  background: #f9f9f9;
}

.impact-home{
  flex: 1;
}

.impact-home img{
  width: 100%;
  height: auto;              
  border-radius: 12px;
  object-fit: contain; 
}

@media (max-width: 900px) {
  .content-section {
    flex-direction: column; 
    padding: 2rem 1.5rem;
  }

  .content-section img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .hero-overlay h1 {
    font-size: 2rem;
  }

  .hero-overlay p {
    font-size: 1rem;
  }
}
