/* index.css - Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './styles/base/variables.css';
@import './styles/base/reset.css';
@import './styles/base/typography.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}
/* ===== RESPONSIVE FOR ALL CONTENT SECTIONS ===== */
@media (max-width: 900px) {
  .donate-content,
  .about-content,
  .health-content,
  .education-content,
  .livelihood-content,
  .women-content,
  .disaster-content
   {
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 2rem;
  }

  .impact-content{
     flex-direction: column;
    padding: 0.1rem 0.1rem;
    gap: 2rem;
  }

  .donate-content img,
  .impact-content img,
  .about-content img,
  .health-content img,
  .education-content img,
  .livelihood-content img,
  .women-content img,
  .disaster-content img {
    width: 100%;
    height: auto;
  }
}
